url-protocol/build/*
url-protocol/.vs/*
url-protocol/Objs/*
url-redirect-windows/.vs/url-redirect/v17/ipch/AutoPCH/16a793623389e292/MAIN.ipch
url-redirect-windows/.vs/url-redirect/v17/Browse.VC.opendb
url-redirect-windows/.vs/url-redirect/v17/Browse.VC.db-wal
url-redirect-windows/.vs/url-redirect/v17/Browse.VC.db-shm
url-redirect-windows/.vs/url-redirect/v17/Browse.VC.db
url-redirect-windows/.vs/url-redirect/FileContentIndex/3f7a3a74-888d-44ef-ba8b-0d00c8e8370a.vsidx
